<body  style=" background-image: url('assets/images/eBank41.png'); padding-bottom: 6cm; background-repeat: no-repeat; background-size: 1600px 700px;  ">
    <section style="padding-left: 8.5cm; padding-top: 5.35cm;">
      <div class="card" style="width: 20rem; background-color: rgb(185, 185, 183); border-radius: 0.5cm; height: 8cm;" >
        <h5 class="card-header" style="background-color: rgb(40, 43, 61); color: lavender;  border-top-left-radius: 0.5cm; border-top-right-radius: 0.5cm;">Enter Transaction Password</h5> 
        <div class="card-body">
            <form [formGroup]="transactionPasswordForm"   (ngSubmit)="onSubmit()">
               
                    
    
              <div class="form-group">
                <label for="transactionPassword">Transaction Password</label>
                <input formControlName="transactionPassword"   name="transactionPassword" 
                      class="form-control" id="transactionPassword" pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}"  style="border-radius: 0.45cm;" type="Password" >
                <div *ngIf="submitted && transactionPasswordForm.controls.transactionPassword.errors" class="error">
                    <div class="text-danger" *ngIf="transactionPasswordForm.controls.transactionPassword.errors.required">transactionPassword is required</div>
                    <div class="text-danger" *ngIf="transactionPasswordForm.controls.transactionPassword.errors.pattern">must contain 8 numbers between 0 to 10</div>
                  </div>
              </div>
   
  
                  <button class="btn btn-info mr-1" type="submit" style="border-radius: 0.5cm;">Submit</button>
                 
                  <div *ngIf="invalidVerify" class="error">
                    <div class="text-danger">Transaction Password is incorrect</div>
                  </div>
  
    
  </form>
        </div>  
        </div>
        </section>
  </body>
  
