<div>
    <div class="wrapper">
        <h1 style="color: midnightblue;"><br><u>About Us</u></h1>
        <div class="text">
            <p class="text" style="text-align: center;">
                DigiSeva is one of the leading private sector bank in India which offers Online NetBanking Services & Personal Banking Services.<br>
                DigiSeva allows the customer to access banking services without any hustle.In the Covid-19 situation we are here to make your life smooth.<br>
                Our aim is to give our customer best banking services. 
                <br><br><br>
            </p>
        </div>
        <div class="team">
            <div class="team_member">
                <h3>Anik Naskar</h3>
                <p class="role">Team Leader</p>
                <p>Anik Naskar is a Graduate Trainee Engineer in L&T Infotech.</p>
            </div>
            <div class="team_member">
                <h3>Aditya Prasad</h3>
                <p class="role">Team Member</p>
                <p>Aditya Prasad is a Graduate Trainee Engineer in L&T Infotech.</p>
            </div>
            <div class="team_member">
                <h3>Riya Das</h3>
                <p class="role">Team Member</p>
                <p>Riya Das is a Graduate Trainee Engineer in L&T Infotech.</p>
            </div>
            <div class="team_member">
                <h3>Sudheer Manukonda</h3>
                <p class="role">Team Member</p>
                <p>Sudheer Manukonda is a Graduate Trainee Engineer in L&T Infotech.</p>
            </div>
        </div>
    </div>
</div>


