
    <!-- navbar -->
    <nav class="navbar navbar-expand-md navbar-light">
      <button class="navbar-toggler ml-auto mb-2 bg-light" type="button" data-toggle="collapse" data-target="#myNavbar">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="myNavbar">
        <div class="container-fluid">
          <div class="row">
            <!-- sidebar -->
            <div class="col-xl-2 col-lg-3 col-md-4 sidebar fixed-top">
              <a href="#" class="navbar-brand text-white d-block mx-auto text-center py-3 mb-4 bottom-border">Hello</a>
              <div class="bottom-border pb-3">
                <img src="assets/images/user.png" width="50" class="rounded-circle mr-3">
                <a href="#" class="text-white">{{customerName}}</a>
              </div>
              <ul class="navbar-nav flex-column mt-4">
                <li class="nav-item"><a href="customer-dashboard" class="nav-link text-white p-3 mb-2 current"><i class="fas fa-home text-light fa-lg mr-3"></i>Dashboard</a></li>
                  
                <!-- <li class="nav-item"><a href="show-profile" class="nav-link text-white p-3 mb-2 sidebar-link"><i class="fas fa-user text-light fa-lg mr-3"></i>Profile</a></li> -->
                
                <li class="nav-item"><a href="customer-accountStatement" class="nav-link text-white p-3 mb-2 sidebar-link"><i class="fas fa-list-alt text-light fa-lg mr-3"></i>AccountStatement</a></li>
                <li class="nav-item"><a href="customer-accountSummary" class="nav-link text-white p-3 mb-2 sidebar-link"><i class="fas fa-university text-light fa-lg mr-3"></i>AccountSummary</a></li>
                <li class="nav-item"><a href="customer-fundTransfer" class="nav-link text-white p-3 mb-2 sidebar-link"><i class="fas fa-rupee-sign text-light fa-lg mr-3"></i>Fund Transfer</a></li>
                <li class="nav-item"><a href="change-password" class="nav-link text-white p-3 mb-2 sidebar-link"><i class="fa fa-key fa-lg mr-3" aria-hidden="true"></i>Change Password</a></li>
                <li class="nav-item"><a href="add-benificiary" class="nav-link text-white p-3 mb-2 sidebar-link"><i class="fas fa-user-friends fa-lg mr-3"></i>Add Benificiary</a></li>
                <li class="nav-item"><a href="view-beneficiary" class="nav-link text-white p-3 mb-2 sidebar-link"><i class="fa fa-address-book fa-lg mr-3" aria-hidden="true"></i> View Benificiary</a></li>
                <li class="nav-item"><a href="save-payment" class="nav-link text-white p-3 mb-2 sidebar-link"><i class="fas fa-save fa-lg mr-3" aria-hidden="true"></i>Save Payment</a></li>

              </ul>
            </div>
            <!-- end of sidebar -->
  
            <!-- top-nav -->
            <div class="col-xl-10 col-lg-9 col-md-8 ml-auto bg-dark fixed-top py-2 top-navbar">
              <div class="row align-items-center">
                <div class="col-md-4">
                  <h4 class="text-light text-uppercase mb-0"></h4>
                </div>
                <div class="col-md-5">
  
                </div>
                <div class="col-md-3">
                  <ul class="navbar-nav">
  
                    <li class="nav-item ml-md-auto"><a href="#" class="nav-link" data-toggle="modal" data-target="#sign-out"><i class="fas fa-sign-out-alt text-danger fa-lg"></i></a></li>
                  </ul>
                </div>
              </div>
            </div>
            <!-- end of top-nav -->
          </div>
        </div>
      </div>
</nav>
    <!-- end of navbar -->
   
    <div class="modal fade" id="sign-out">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h4 class="modal-title">Want to leave?</h4>
            <button type="button" class="close" data-dismiss="modal">&times;</button>
          </div>
          <div class="modal-body">
            Press logout to leave
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-success" data-dismiss="modal">Cancel</button>
            <button type="button" class="btn btn-danger" data-dismiss="modal" (click)="logout()">Logout</button>
          </div>
        </div>
      </div>
    </div>














<div class="page">
  <div class="col-xl-10 col-lg-9 col-md-8 ml-auto bg-dark fixed-top py-2 top-navbar">
      <div class="row align-items-center">
        <div class="col-md-4">
          <h4 class="text-light text-uppercase mb-0">Change Password</h4>
        </div>
        <div class="col-md-5">
  
        </div>
        <div class="col-md-3">
          <ul class="navbar-nav">
  
            <li class="nav-item ml-md-auto"><a href="#" class="nav-link" data-toggle="modal" data-target="#sign-out"><i class="fas fa-sign-out-alt text-danger fa-lg"></i></a></li>
          </ul>
        </div>
      </div>
    </div>
  
    <section class="page1">
      <div class="container-fluid">
        <div class="row">
          <div class="col-xl-7 col-lg-8 col-md-8 ml-md-auto">
            <div class="row align-items-center mb-5">
              <div class="col-xl-7">
               <br>
                 <div id="accordion">
                  <div class='alert alert-info'>
                      <h3 align="center">Set New Login Password</h3>
                     </div>
                  
                   
                     <form [formGroup]="changeLoginPasswordForm" (ngSubmit)="loginPass()" >
                        <div class="form-group">
        
                            <label for="loginPassword">Login Password</label>
                            <!-- <input type="date" class= "form-control" name="startDate" id="startDate"> -->
                            <input type="text" class="form-control" id="loginPassword" name="loginPassword" formControlName="loginPassword"   placeholder="Enter new Login Password" type="password">
                        </div>
                     
                        <div class="form-group">
        
                          <label for="confirmLoginPassword">Login Password</label>
                          <!-- <input type="date" class= "form-control" name="startDate" id="startDate"> -->
                          <input type="text" class="form-control" id="confirmLoginPassword" name="confirmLoginPassword" formControlName="confirmLoginPassword"   placeholder="Confirm new Login Password" type="password">
                      </div>
                      <input type="submit" value="Submit" class="btn btn-dark"  >
                  </form>
              </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  </section>
  
  <section>
      <div class="container-fluid">
        <div class="row">
          <div class="col-xl-7 col-lg-8 col-md-8 ml-md-auto">
            <div class="row align-items-center mb-5">
              <div class="col-xl-7">
               <br>
                 <div id="accordion">
  
                      <div class='alert alert-info'>
                      <h3 align="center">Set New Transaction Password</h3>
                     </div>
                  
                   
                     <form [formGroup]="changeTransactionPasswordForm" (ngSubmit)="transactionPass()" >
                        <div class="form-group">
        
                            <label for="newTransactionPassword">Transaction Password</label>
                            <!-- <input type="date" class= "form-control" name="startDate" id="startDate"> -->
                            <input type="text" class="form-control" id="transactionPassword" name="transactionPassword" formControlName="transactionPassword"   placeholder="Enter new Transaction Password" type="password">
                        </div>
                     
                        <div class="form-group">
        
                          <label for="confirmTransactionPassword">Confirm Transaction Password</label>
                          <!-- <input type="date" class= "form-control" name="startDate" id="startDate"> -->
                          <input type="text" class="form-control" id="confirmTransactionPassword" name="confirmTransactionPassword" formControlName="confirmTransactionPassword"   placeholder="Confirm new Transaction Password" type="password" >
                      </div>
                      <input type="submit" value="Submit" class="btn btn-dark"  >
                  </form>
                     
                     
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
  
    
  </div>
   
