<nav class="navbar navbar-light " style="background-color: #3a3b3b; text-align: right;">
    <a class="navbar-brand" style="color: #ffffff; font-size: 1.8rem;padding-left: 0.5cm;">
      
      Verified Users
    </a>
 

 
    

    <div class="dropdown" style="padding-left: 26cm;">
         
        <button class="dropbtn" >Menu <i class="fa fa-caret-down" aria-hidden="true"></i></button>
    
         
        <div class="dropdown-content">
            <a href="account-requests">Account Opening Request</a>
            <a href="unverified-users">Unverified Users</a>
            <a href="verified-users">Verified Users</a>
           
        </div>
    
      </div>


      <ul class="nav navbar-right top-nav ">
        <li><a href="home-page"  ><i class='fas fa-sign-out-alt' style='font-size:28px;color:red'></i></a></li>
        </ul>
</nav>
 