<body>
<div>
    <div class="wrapper">
        <h1 style="color: rgb(25, 25, 112);"><br><u>Contact Us</u></h1>
        <div class="text">
            <p class="text" style="text-align: center;">
                <b>Feel free to reach out to us</b>
                <br><br><br>
            </p>
        </div>
        <div class="team">
            <div class="team_member">
                <h3>Email Id</h3>
                <p class="role">gladiatorproject.onlinebanking@gmail.com</p>
                <!-- <p></p> -->
            </div>

            <div class="team_member">
                <h3>Contact No</h3>
                <p class="role">+91 9932025961</p>
                <!-- <p></p> -->
            </div>

        </div>
    </div>
</div>
</body>

