<body  style=" background-image: url('assets/images/eBank71.PNG'); padding-bottom: 5cm; background-repeat: no-repeat; background-size: 1550px 800px;">
  <div class="col-xl-12 col-lg-8 col-md-8 ml-auto bg-dark fixed-top py-2 top-navbar">
    <div>
      <!-- <div class="btn-group btn-group-justified col-xl">
         
          <button class="btn btn-danger btn-xl" (click)="home()">Home</button>
          <button   class="btn btn-info btn-xl1" (click)="newAccount()" >New Account</button>
           <button   class="btn btn-danger btn-xl" (click)="registerInternetBanking()" >Register Internet Banking</button>
          <button   class="btn btn-info btn-xl1" (click)="loginCustomer()">Customer Login</button>
          <button   class="btn btn-danger btn-xl" (click)="loginAdmin()">Admin Login</button> 
        

        
      </div> -->
      <ul>
        <li><a href="home-page">Home</a></li>
        <li><a href="account-open">New Account</a></li>
        <li><a href="register-internet">Register</a></li>
        <li><a href="customer-login">Login</a></li>
        <li><a href="admin-login"  >Admin Login</a></li>
        <label style="float: right; color: aliceblue; padding-top: 0.25cm; font-size: x-large; font-weight: bolder;">D i G i - SEVA</label>
      </ul>
        
    </div>
  </div> 
    <section style="padding-left: 3.6cm; padding-top: 7cm;">
    <div class="card" style="width: 32rem; background-color: rgb(185, 185, 183); border-radius: 0.5cm;" >
       <h5 class="card-header" style="background-color: rgb(56, 56, 56); color: lavender;  border-top-left-radius: 0.5cm; border-top-right-radius: 0.5cm;">Reset Password</h5> 
      <div class="card-body">
          <form [formGroup]="forgotPasswordForm"   (ngSubmit)="onSubmit()">
             
                  
  
              <div class="form-group">
                    <label for="internetBankingId"> User ID</label>
                 
    
                  <input formControlName="internetBankingId" placeholder="Enter User ID" name="internetBankingId" 
                        class="form-control" id="internetBankingId" pattern="[0-9]{10}" style="border-radius: 0.45cm;">
                        
                  <div *ngIf="submitted && forgotPasswordForm.controls.internetBankingId.errors" class="error">
                      <div class="text-danger" *ngIf="forgotPasswordForm.controls.internetBankingId.errors.required">User ID is required</div>
                      <div class="text-danger" *ngIf="forgotPasswordForm.controls.internetBankingId.errors.pattern">must contain 10 numbers between 0 to 10</div>
                    </div>
                    
              </div>
                
  
                  
  
  
  

  
        
                 
                <button class="btn btn-info mr-2" type="submit" style="border-radius: 0.45cm;">Proceed</button>
                <!-- <button class="btn btn-info mr-2" (click)="registerInternetBanking()" style="border-radius: 0.45cm;">Sign Up</button> -->
           
                 
              
                 
 
          </form><br>

      <div *ngIf="flag==1">
        <form [formGroup]="forgotPasswordOtpForm"   (ngSubmit)="onSubmit2()">
          <div class="form-group">
            <label for="otp">Otp</label>
            <input formControlName="otp" placeholder="Enter OTP" name="otp" 
                  class="form-control" id="otp" pattern="[0-9]{4}" style="border-radius: 0.45cm;">
            <div *ngIf="submitted2 && forgotPasswordOtpForm.controls.otp.errors" class="error">
                <div class="text-danger" *ngIf="forgotPasswordOtpForm.controls.otp.errors.required">otp is required</div>
                <div class="text-danger" *ngIf="forgotPasswordOtpForm.controls.otp.errors.pattern">must contain 4 numbers between 0 to 10</div>
            </div>
         </div> 
         
         <button class="btn btn-info mr-2" type="submit" style="border-radius: 0.45cm;">Verify</button>
        </form>
      </div>


      </div>
    </div> 
  </section>
  </body>

